[run]
omit = *migrations*
       *test*
       *templates*
       *fixtures*
       *static*
       *environment*
       manage.py
       europa/wsgi.py
       **/apps.py
       config_service/vault_logic.py

branch = True

[report]
fail_under = 80
