[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
raven = "*"
django-nested-admin = "*"
requests = "*"
hvac = "*"
sentry-sdk = "*"
voluptuous = "*"
mock = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
