[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
djangorestframework = "*"
pyjwt = "*"
django-nested-admin = "*"
requests = "*"
sentry-sdk = "*"
voluptuous = "*"
psycopg2-binary = "*"
django = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
gunicorn = "*"
dj-database-url = "*"
tzdata = "*"
django-two-factor-auth = {extras = ["phonenumbers"], version = "*"}

[dev-packages]
mock = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
gunicorn = "*"
flake8 = "*"
ptpython = "*"
mypy = "*"
xenon = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"
